*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
li,a,p,h1,h2,h3,h4,h5,h6,button{font-family: 'Montserrat', sans-serif;}

.navbar
{
    top: 0;
	height: 100px;
	width: 100%;
	padding: 0px 60px;
	display: flex ;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	transition: all .7s ease;
	z-index: 999;
}

.bg-scroll{background-color: white; z-index: 999;}

.logo{display: flex;}

.logo img{
	width: 250px ;
	height: 70px;
	padding-left: 10px;
}

.nav-list{
width: 500px;
display: flex;
justify-content: space-around;
align-items: center;
list-style: none;}

nav ul li a{
    position: relative;
    padding : 5px 0px ;
    font-size: 18px;
    font-weight: bold;
	color: black;
	text-transform: uppercase;
}
nav ul li a:hover{color:  #ff1616; text-decoration: none;}

nav ul li a::before{
    position : absolute;
    content : '' ;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #1e7e34;
    transform: scaleX(0) ;
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover::before{

   transform: scaleX(1) ;
    transform-origin: left;
    
}
 


#bars{display: none;}

#cancel-bars{display: none;}



header
{
	width: 100%;
	height: 0 !important;
	background-image: url('../images/img0.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.center-div {
    width: 100%;
    height: auto;
    position: absolute;
    top: 45%;
    text-align: center;
   
}

.center-div h1{font-size:54px ;}
.center-div p{font-size: 30px; padding:10px 0 20px 0;}

.team{
	padding-top: 80px;
	padding-bottom: 80px;
	margin : 0px 0;
	width: 100%;
	height: auto;
	background:linear-gradient(160deg,rgb(99 105 110 / 61%) 25% ,#f8f9fa 100%);
}

.team h1{
font-size:54px ;
text-align: center;
font-weight: bold;
letter-spacing: 2px;
padding-bottom: 10px;
}

.team h1::after{
	content: '';
	background: #333;
	display: block;
	height: 3px;
	width: 215px;
	margin: 10px auto;
}

.team p{text-align: center;
padding-bottom: 30px;}

.allcourses{
	width: 100%;
	min-height: 100vh;
	height: auto;
	background-size: 100% 100%;
	margin-top: 100px;
	background-color:#c0c0c0bf;
	padding-bottom: 40px;
	}

.courses{
text-align: center;
padding: 50px 0;
}

.courses h1{font-size: 54px;
    text-align: center;
	font-weight: bold;}
	
.courses h1::after{
		content: '';
		background: #333;
		display: block;
		height: 3px;
		width: 215px;
		margin: 10px auto;
	}	
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-title{text-align: center;}
.card-body p{text-align: center;}
.card-body{padding-top: 1.25rem;}
.card{margin-bottom: 20px; width: 250px!important;}
.card:hover{box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);}


footer{background: black;
	height: 5vh;
	}
	
.foter p{color: #fff;
		font-size: 18px;
		text-align: center;
		padding-top: 7px;
	
	
	}

@media (max-width: 1040px)
{

body.disabledscroll{overflow: hidden;}


#cancel-bars{
	position: absolute;
	right: 30px;
	top: 40px;
	
    font-size: 20px;
     cursor: pointer;
	display: block;}

#bars{
	font-size: 20px;
	float: right;
	line-height: 70px;
	margin-right: 30px;
	cursor: pointer;
	display: block;}

#bars.hide{display: none;}		

.nav-list{
	position: fixed;
	top: 0;
	right: -100%;
	height: 100vh;
	width: 70%;
	max-width: 400px;
	background: white;
	display: block;
	padding :  40px 0px;
	text-align: center;
	transition: all 1s ease;
}

.nav-list.active{
	right: 0;
     }

.nav-list li{margin-top: 45px;}

.logo img{
	width: 160px ;
	height: 50px;
	padding-left: 10px;
}

nav ul li a{font-size: 15px;}

}





@media(max-width:990px){}
@media(max-width:860px){}

@media(max-width:680px){}


@media(max-width:580px)
{}

@media(max-width:430px)
{}

@media(max-width:350px){}

