{% extends 'base.html' %}


{% block content %}

<div class="center-div">
	<h1>Expand Your Career Opportunities With Us</h1>
	<p>Learn, Grow, Repeat! </p>
</div>
	
   
<section class="team" id="ourteam">
  	<h1>Our Team</h1>
  	<p>Top instructors from around the world teach millions of students. We provide the tools and skills to teach what you love.</p>

<div class="container">
  <div class="card" style="width:200px">
    <img class="card-img-top" src="static/images/f9.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Prince Kumar</h4>
      <p>Android instructor</p>
	</div>
</div>

<div class="card" style="width:200px">
    <img class="card-img-top" src="static/images/f6.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Vineet Tiwari</h4>
      <p>MERN instructor</p>
    </div>
</div>

<div class="card" style="width:200px">
    <img class="card-img-top" src="static/images/f3.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Harsh Singh</h4>
      <p>Web designer instructor</p>
    </div>
</div>

<div class="card" style="width:200px">
    <img class="card-img-top" src="static/images/f7.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Manish Juyal</h4>
      <p>Django instructor</p>
    </div>
</div>
</div>
  </section>  
{% endblock %}